<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header">Banner</h1>
                    <% if @banner.errors.any? %>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <ul>
                                <% @banner.errors.full_messages.each do |message| %>
                                     <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= action %>
                    </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <%= form_for([:backoffice, @banner], html: { multipart: true}) do |f| %>
                                    <div class="form-group">
                                        <label>Insert new banner</label>
                                        <%= f.text_field :title, class: "form-control", placeholder: "Ex. Promoção Dia dos Pais"%>
                                    </div>
                                    <div class="form-group">
                                        <label>Insert the Picture </label>
                                        <%= image_tag @banner.picture(:large), class: "img-thumbnail" %>
                                        <%= f.file_field :picture, class: "form-control" %>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit Button</button>
                                <% end %>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>