<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <h1 class="page-header"><%= t('backoffice.products') %></h1>
                    <% if @product.errors.any? %>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <ul>
                                <% @product.errors.full_messages.each do |message| %>
                                     <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= action %>
                    </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <%= form_for([:backoffice, @product], html: { multipart: true}) do |f| %>
                                    <div class="form-group">
                                        <div class="form-group">
                                        <label><%= t('backoffice.product_title') %></label>
                                        <%= f.text_field :title, class: "form-control", placeholder: "Ex. Notebook"%>
                                        </div>
                                        <div class="form-group">
                                        <label><%= t('backoffice.product_description') %> </label>
                                        <%= f.text_area :description, class: "form-control", :rows => 8, data: {provide: 'markdown'} %>
                                        </div>
                                        <div class="form-group">
                                            <label><%= t('backoffice.product_picture') %> </label>
                                            <%= image_tag @product.picture(:medium), class: "img-thumbnail" %>
                                            <%= f.file_field :picture, class: "form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <label><%= t('backoffice.category') %></label>
                                            <%= f.collection_select :category_id, Category.all.order(description: :asc), :id, :description, {:prompt => "Selecione a Categoria"}, {class: "form-control"} %>
                                        </div>
                                        <div class="form-group">
                                            <label><%= t('backoffice.subcategory') %></label>
                                            <%= f.grouped_collection_select :subcategory_id, Category.all.order(description: :asc), :subcategory, :description, :id, :title, {:prompt => "Selecione a Subcategoria"}, { class: "form-control"} %>
                                        </div>
                                        <div class="form-group">
                                            <label><%= t('backoffice.brand') %></label>
                                            <%= f.collection_select :brand_id, Brand.all.order(title: :asc), :id, :title, {:prompt => "Selecione a Marca"}, {class: "form-control"} %>
                                        </div>

                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary"><%= t('backoffice.save') %></button>
                                <% end %>
                            </div>
                    </div>
                </div>
        </div>
    </div>
</div>
