<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

      <%= stylesheet_link_tag    'application', media: 'all' %>


      <%= csrf_meta_tags %>

<h1>Carrinho de Orçamento</h1>

    <% if @cart_consumers_itens == 0 %>
        <div class= "text-center">
            <h3> Seu carrinho esta vazio </h3>
        </div>
    <% else %>
            <div class= "text-right">
                <%= link_to site_home_index_path, class:"btn btn-success" do%>
                    <i class="fa fa-shopping-cart  fa-fw"></i> Continuar Orçando
                <% end %>
            </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Produtos</th>
                                    <th>Quantidade</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <% @cart_consumers.each do |cart_consumer| %>
                                <tr>
                                    <td><%= cart_consumer.product.title %></td>
                                    <td style="width: 100px"> <select class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select></td>
                                    </td>
                                    <td style="width: 50px">

                                                    <%= link_to site_cart_consumer_path(cart_consumer.id),
                                                     method: :delete, class:"btn btn-danger btn-circle",
                                                     data: {confirm: "Deseja realmente excluir este item?"} do %>
                                                        <i class="fa fa-minus"></i>
                                                    <% end %>
                                    </td>
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>

        <div class= "col-md-3 col-md-offset-9">
            <div class= "text-right">
                <%= link_to "#", class:"btn btn-success" do%>
                    <i class="fa fa-check  fa-fw"></i> Finalizar Orçamento
                <% end %>
            </div>
        </div>
    <% end %>