<!DOCTYPE html>
<html>
<head>
  <title>Pibi ADMIN</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'backoffice', media: 'all' %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon1.ico' %>
</head>
  <body>

      <div id="wrapper">
        <%= render partial: "layouts/backoffice_shared/navigation" %>
          <div id="page-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
      </div>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'backoffice' %>

  <%= render partial: 'layouts/shared/notifications' %>

  </body>
</html>
