<!DOCTYPE html>
<html>
<head>
  <title>Comercial Pibi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'site', media: 'all' %>
  <%= stylesheet_link_tag    'site/profile', media: 'all' %>


  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <%=   render partial: "layouts/site_shared/navigation" %>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                  <% if current_member %>
                      <%= link_to "Dashboard", site_profile_legal_dashboard_index_path %>
                  <% else %>
                      <%= link_to "Dashboard", site_profile_physical_dashboard_index_path %>
                  <% end %>
                </li>
                <li>
                  <% if current_member %>
                      <%= link_to "My data", edit_site_profile_legal_my_datum_path(current_member.id) %>
                  <% else %>
                      <%= link_to "My data", edit_site_profile_physical_my_datum_path(current_consumer.id) %>
                  <% end %>
                </li>
                <li>
                    <a href="#">My budgets</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Expandir Menu</a>
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'site' %>
  <%= javascript_include_tag 'site/profile' %>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


  <%= render partial: "layouts/shared/notifications" %>

</body>

</html>
