<!DOCTYPE html>
<html>
<head>
  <title>Comercial Pibi</title>

  <%=   render partial: "layouts/site_shared/devise" %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'site', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'site' %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
